

.sidebar-Flow {
  background: rgb(54, 91, 154);
  background: linear-gradient(
    40deg,
    rgba(54, 91, 154, 1) 8%,
    rgba(123, 145, 248, 1) 31%,
    rgba(101, 109, 245, 1) 59%,
    rgba(51, 194, 236, 1) 86%
  );
}



.text-flow{
  background: rgb(131,54,154);
background: linear-gradient(142deg, rgba(131,54,154,1) 8%, rgba(108,181,236,1) 27%, rgba(228,123,248,1) 51%, rgba(101,210,245,1) 74%, rgba(162,51,236,1) 97%);
}

.navBG{
background: rgb(55,166,219);
background: linear-gradient(90deg, rgba(55,166,219,1) 0%, rgba(143,131,195,1) 100%);
}